In [2]:
# datos
datos= (149.597.870 km) y Júpiter(778.547.200 km).

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1374265926.py, line 2)

In [ ]:
tierra_distancia=149597870
jupiter_distancia = 778547200

In [ ]:
distancia_km = jupiter_distancia - tierra_distancia
print(distancia_km)

628949330

In [ ]:
Distancia_millas=distancia_km*0.621
print(Distancia_millas)

390577533.93